* {
    max-width: 90%;
    margin: 5px auto;
    /* box-sizing: border-box; */
    text-align: center;
}

body  {
    background-color: #2c9e58;
}

p {
    font-size: 12px;;
}


.input-container {
    border-style: groove;
    border-color: #000000;
    border-width: 2px;
    font-family: 'Pacifico', cursive;
    color: #e2c336;
}

li {
    background-color: #e7e7e7;
    border-color: #e2c336;
    border-style:groove ;
    border-width: 3px;
    border-radius: 2%;
    list-style: none;
    /* max-width: 90%; */
    margin-right: 11%;
}

/* #results {

    border-style: groove;
    border-color: #f3ef0d;
    border-width: 2px;
} */

.container {
    margin: 0 auto;
    width: fit-content;
  }

ul {
    /* border-style: groove;
    border-color: #240df3;
    border-width: 2px; */
    display: inline-block; 
}


input {
    text-transform: uppercase;
}

/* li {
    list-style: none;
    align-content: left;

} */

.hidden {
    display: none;
  }

a:hover {color:green};
a:visited{color:blue}

